.welcome-section {
    background: url("~images/bg/MountainBaloon.png") center top /  cover no-repeat;
    padding-bottom: 200px;
}
section.values {
    background: url("~images/bg/rukzak.png")  no-repeat ;
    height: 100vh;
    min-height: 53.5625rem;
    background-position: left calc(50% - 34.375rem) top 21.875rem;
    background-size: 44.5rem 39.1875rem;
}